body {
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;  
    align-items: center;    
    font-family: serif;  
}

.container {
    width: 800px;
    background: rgba(82, 81, 81, 0.5);
    border-radius: 15px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 15px;     /* 和下方表格保持间距 */
}

.container h1 {
    text-align: center;
    padding-top: 15px;
    color: white;
}

.container hr {
    background-color: white;
    width: 90%;
}

.container label {
    color: rgb(34, 232, 216);
    font-size: 18px;
    margin-left: 5%;
}

.container label#label_category {
    margin-left: 32%;
}

.container label#label_autoDetect {
    color: white;
    font-size: 15px;
    margin-left: 1%;
}

.container input {
    color: white;
    background-color: rgba(82, 81, 81, 0.8);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    width: 90%;
    height: 35px;
}

.container input#distance {
    width: 28%;
}



.container select {
    color: white;
    background-color: rgba(82, 81, 81, 0.8);
    border-color: white;
    border-radius: 5px;
    font-size: 16px;
    width: 42%;
    height: 35px;
    margin-left: 19%;
}

.container input#autoDetect {
    width: 15px;
    height: 15px;
    margin-left: 5%;
}


.container button {
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
    width: 18%;
    height: 10%;
    margin-top: 2%;
    cursor: pointer;
}



.container button#searchBtn {
    margin-left: 5%;
    background-color: red;
}

.container button#searchBtn:hover {
    background-color: rgb(255, 120, 0);
}


.container button#clearBtn {
    background-color: darkblue;
}

.container button#clearBtn:hover {
    background-color: blue;
}
.required::after {
  content: " *";    /* 添加星号 */
  color: red;       /* 星号颜色 */
  font-weight: bold; /* 加粗 */
}

.error {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}

/* Tooltip base */
.tooltip {
    position: absolute;
    background: white;
    color: black;
    display: inline-block;
    width: fit-content;
    border-radius: 4px;
    font-size: 18px;
    padding: 10px;
    white-space: nowrap;
    z-index: 1000;
    transform: translateY(-100%);
}

/* Tooltip arrow */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%; 
  left: 15%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}


#resultsContainer {  
    display: none;           /* 初始隐藏 */
    width: 1100px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#resultsTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#resultsTable th {
    background-color: #f2f2f2;
    color: black;
}

#resultsTable td, #resultsTable th {
    border: 1px solid black;
    padding: 8px;
    background-color: white;
    color: black;
}


#resultsTable img {
    border-radius: 5px;
}

.sortable {
    cursor: pointer;
}

.clickable-event {
  cursor: pointer;
  color: #0077cc;       /* optional: make it look like a link */
}

.detailsContainer {
    width: 800px;
    background: rgba(82, 81, 81, 0.7);
    border-radius: 15px;
    padding-bottom: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

.detailsContainer h2 {
    text-align: center;
    padding-top: 10px;
    display: block;
}

/* 这层才是 flex，保证 h2 独立 */
.detailsContainer .contentRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.detailsContainer .textContent {
    flex: 3;

}

.detailsContainer .imageContent {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.detailsContainer .imageContent img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 图片不会被拉伸变形 */
    border-radius: 10px;
    
}

.detailsContainer label {
    display: block;
    font-weight: bold;
    margin-left: 5%;
    /*文字颜色亮蓝色*/
    color: rgb(34, 232, 216);
    font-size: larger;
}

.detailsContainer p {
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 20px;
    font-size: medium;
}

.detailsContainer a {
    margin-bottom: 10px;
    text-decoration: none; /* 保留原来的样式即可 */
}


.detailsContainer a:hover {
    text-decoration: underline;
}

#status {  /*颜色和文字一样长*/
    border-radius: 5px;
    padding: 5px;
    color: white;
    display: inline-block;
    width: fit-content;
}

.showVenueArrow {
    width: 400px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;     /* 和下方表格保持间距 */
    color: white;
    text-align: center;
    cursor: pointer;
}

.showVenueArrow h2 {
    margin-bottom: 2px;
}

.showVenueArrow .arrow {
    margin-top: 2px;
    font-size: 40px;
    color: gray;
}

.showVenueArrow:hover .arrow{
    color: white;       /* optional: make it look like a link */
}

.venuesContainer {
    width: 800px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border: 2px solid black;
    outline: 10px solid white;    /* 外层分隔线 */
    color: black;
    text-align: center;
    padding-bottom: 30px;

}

.venuesContainer h2 {
  display: inline-block;    /* 让它撑内容 */
  border-bottom: 2px solid black;
  padding-bottom: 8px;      /* 控制文字和“下划线”的距离 */
  margin: 20px auto;

}


.venuesContainer img {
    max-width: 30%;
    display: block;
    margin: 0 auto;      /* 居中 */
}

.venuesContainer .contentRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.venuesContainer .leftContent {
    flex: 1;
    border-right: 2px solid black; /* 竖线 */
    text-align: center;
}

.venuesContainer .rightContent {
    flex: 1;
    text-align: center;
}

.venuesContainer a {
    margin-bottom: 10px;
    text-decoration: none; /* 保留原来的样式即可 */
}


.venuesContainer a:hover {
    text-decoration: underline;
}
